.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}


.btn-proceed{
    width: 90%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #ff9000;
    color: white;
    font-size: 21px;
    cursor: pointer;
    margin-top: 20px;
}

.proceed-link{
    text-decoration: none;
}